<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>cipe</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1 class="gradient-text">cipe</h1>
      <nav>
        {{!-- {{#ifloggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
         {{else}}
        <a href="/login">login</a>
        {{/if}} --}}
      </nav>
    </header>

    <section class="icon">
      {{!-- <input type="image" src="https://i.imgur.com/A6GVjta.png" class="btTxt submit"/> --}}
    <img class="icon-pic" src="https://i.imgur.com/A6GVjta.png"/>
    </section>
    <section class="buttons">
    <button type="submit" class="button" style="color: rgb(151, 151, 161);">Log In</button>
    <button type="submit" class="button" style="color: rgb(151, 151, 161);">Contiue as Guest</button>
    <button type="submit" class="button" style="color: rgb(151, 151, 161)">Sign Up</button>
    </section>

    </section>  
  </div>

  <main>
    {{{ body }}}
  </main>

  <footer>
     <h4>WE THANK YOU</h4>
  </footer>
</body>

</html> 