<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chef</title>
  <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>

<body>
<div class="wrapper">

<input type="image" src="https://i.imgur.com/A6GVjta.png" name="saveForm" class="btTxt submit" id="saveForm"/>
{{!-- <img class="icon" src="https://i.imgur.com/A6GVjta.png"/>
<button type="submit" class="button" style="color: blue;">Welcome</button> --}}


<main>
    {{{ body }}}
</main>

<footer>
    <h4 style="color: rgb(102, 102, 109);">WE THANK YOU</h4>
</footer>
</body>

</html> 