<style>
  body{
    background: rgb(221, 221, 221);
      }
</style>
    <header class="title">
    <h1>Create Recipe</h1> 
  </header>
<div class="recipe-card">
  <div class="row d-flex flex-row">
    <div class="col-md-2">
      <h2>Recipe</h2>
    </div>
    <textarea  class="col-md-9" id="recipe-name" class="recipe-title" placeholder="Add Recipe Title" name=""></textarea>
  </div>

  <div class="row d-flex flex-row">
    <div class="col-md-4">
      <h4>Ingredients</h4>
      <textarea class="col-md-12" id="ingredient-list" class="ingredient-list" placeholder="Add your ingredients"></textarea>
    </div>
    <div class="col-md-8">
    <h4>Directions</h4>
      <textarea class="col-md-12" id="directions" class="directions" placeholder="Add Directions"></textarea>
    </div>

  </div>

</div>
  
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="./javascript/add-recipe.js"></script>