
<style>
  body{
    background: white;
  }
</style>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#B0DDEC; color: darkslategray;">
        <ul class="nav justify-content-end font-monospace">
            <li class="nav-item">
                <a class="nav-link" href="/dash">MyCipe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create">Create</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/my">My Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="logout" href="/">Logout</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        </br>
        <div class="row justify-content-center font-monospace border border-dark"
            style="background-color: #B0ECE3; font-size: 25px">
            Welcome to MyCipe
        </div>
    </div>
    <div class="container justify-content-center">
        </br>
        <div class="row font-monospace" style="text-align:center">
            <div class="col-sm-2" style="background-color: #B0ECE3;">{{ title }}</div>
            <div class="col-sm-7" style="background-color: #B0DDEC; font-size:smaller">{{ recipe_text }}</div>
            <div class="col-sm-3" style="background-color: #B0ECE3;">Chef: {{{ name }}}</div>
        </div>
    </div>
    
<script src="./javascript/add-recipe.js"></script>

