    <section class="icon">
      {{!-- <input type="image" src="https://i.imgur.com/A6GVjta.png" class="btTxt submit"/> --}}
    <img class="icon-pic" src="https://i.imgur.com/UhQk31V.png"/>
    </section>
    <section class="buttons">
      <a href="/login"><button type="submit" class="button" style="color: #996E32;">Log In</button></a>
    {{!-- <button type="submit" class="button" style="color: #996E32;">Log In</button> --}}
      <a href="/dash"><button type="submit" class="button" style="color: #996E32;">Continue as Guest</button></a>
    <a href="/signup"><button type="submit" class="button" style="color: #996E32;">Sign Up</button></a>
    </section>