<style>
  body{
    background: #5DB8B9;
  }
</style>
<!--  Container with logo, chefname, password, login button  -->
    <form class="login-form" action="./" method="POST">
          <div class="login-form-logo-container">
            <img  class="login-form-logo" src="https://i.imgur.com/UhQk31V.png" alt="chef-hat-logo"/>
          </div>
          <div class="login-form-content">
            <h3 class="login-form-header">Login to your account</h3>
              <input class="login-form-input" type="email" name="emailaddress" placeholder="Please enter email" />
              <input class="login-form-input" type="password" name="userpassword"id="password-login" placeholder="Password"/>
              <button class="login-form-button" type="submit">ENTER</button>
          </div>
    </form>

<script src="./javascript/login.js"></script>