{{#if posts.length}}
<section>
  <h2>Your Recipes</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-recipe">Edit Recipe</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}