{{#if recipe.length}}
<section>
  <h2>Your Recipes</h2>
  <ol>
    {{#each recipe as |recipe|}}
    <li>
      {{> recipe-info recipe}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-recipe">Edit Recipe</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}