/*  Background styling of page  */
body{
    background: rgb(100,92,106);
background: linear-gradient(90deg, rgba(100,92,106,1) 0%, rgba(232,230,220,1) 50%, rgba(100,92,106,1) 100%);

}

/*  mycipe font */
.gradient-text{
    font-size: 72px;
    font-weight: 600;
    background: -webkit-linear-gradient(#9ae2e2,#020303);
    text-decoration: underline #5DB8B9;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
  }

  h1 span{
      font-weight: 200;
     font-family:monospace;
  }

  /*  mycipe container  */
.icon{
    display: flex;
    justify-content: center;
}


/*  mycipe Icon */
.icon-pic{
    display: flex;
    justify-content: center;
    padding: 5px;
    
}


/*  Sign in - continue as guest - sign up- buttons */
.buttons{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.button:hover {
    background-color: #b0e9e9; /* Green */
    color: white;
    cursor: pointer;
}


/*  footer */
h4{
    font-size: 16px;
    font-family: monospace;
    color:#5cb8b9;
    display: flex;
    justify-content: center;
}
 

/*  Login form  */
.login-form,
.login-form * {
    box-sizing: border-box;
    font-family: monospace;
}

.login-form{
    max-width: 350px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

/* .login-form-logo-container{

} */

/*  mycipe logo */
.login-form-logo{
    display: block;
    max-width: 125px;
    margin: 0 auto;
}

.login-form{
    padding: 30px;
    background: rgb(100,92,106);
    background: linear-gradient(90deg, rgba(100,92,106,1) 0%, rgba(232,230,220,1) 50%, rgba(100,92,106,1) 100%);
    /* background: #eeeeee; */
}

.login-form-header{
    margin-bottom: 15px;
    text-align: center;
    color: #333333;

}

.login-form-input{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #dddddd;
    background: #ffffff;
    outline: none;
    transition: border-color 0.5s;
}
.login-form-input:focus{
    border-color: #5DB8B9;
}

.login-form-input::placeholder{
    color: #5DB8B9;
}

.login-form-button{
    padding: 10px;
    color: rgb(77, 74, 74);
    font-weight: bold;
    /* background: rgb(100,92,106); */
    /* background: linear-gradient(90deg, rgb(155, 144, 161), rgba(232,230,220,1) 50%, rgba(100,92,106,1) 100%); */
    /* background-color: black; */
    background-color: #5DB8B9;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor:pointer;
    
}

.login-form-button:hover{
    color:#000000;
}



/*  Sign Up form */
.signup-form,
.signup-form * {
    box-sizing: border-box;
    font-family: monospace;
}

.signup-form{
    max-width: 350px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}


.signup-form-logo{
    display: block;
    max-width: 125px;
    margin: 0 auto;
}

.signup-form{
    padding: 30px;
    background: rgb(100,92,106);
    background: linear-gradient(90deg, rgba(100,92,106,1) 0%, rgba(232,230,220,1) 50%, rgba(100,92,106,1) 100%);
    /* background: #eeeeee; */
}

.signup-form-header{
    margin-bottom: 15px;
    text-align: center;
    color: #333333;

}

.signup-form-input{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #dddddd;
    background: #ffffff;
    outline: none;
    transition: border-color 0.5s;
}
.signup-form-input:focus{
    border-color: #5DB8B9;
}

.signup-form-input::placeholder{
    color: #5DB8B9;
}

.signup-form-button{
    padding: 10px;
    color: rgb(77, 74, 74);
    font-weight: bold;
    /* background: rgb(100,92,106); */
    /* background: linear-gradient(90deg, rgb(155, 144, 161), rgba(232,230,220,1) 50%, rgba(100,92,106,1) 100%); */
    /* background-color: black; */
    background-color: #5DB8B9;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor:pointer;
    
}

.signup-form-button:hover{
    color:#000000;
}

/* Recipe card  */


.title h1{
    color: rgb(97, 95, 95);
}

.recipe-card{
    width: 100%;
    background: #4b4d4d;
    box-shadow: 0 0 15px rgba(27, 48, 47, 0.15);
    margin: 5px 2px;
    
}

.recipe-card h2{
    color: #5DB8B9;
    border-bottom: rgb(0, 0, 0) solid;
    font-family: monospace;
    font-size: 40px;
}
.recipe-card #recipe-name {
    color: rgb(41, 43, 43);
    font-family: monospace;
    margin-top: 15px;
}

.ingredient-list {
    color: rgb(101, 105, 105);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}
.recipe-card h4{
    color:#5DB8B9;
    font-size: 20px;
    font-family: monospace;
    border-bottom:black solid;
}
.recipe-card .ingredient-list{
    color: rgb(41, 43, 43);
    font-family: monospace;
    
}

.recipe-card .directions{
    color:rgb(41, 43, 43);
    font-family: monospace;
}

.recipe-card #directions{
    color: rgb(41, 43, 43);
    font-family: monospace;
}

.recipe-card #ingredient-list {
    color: rgb(41, 43, 43);
    font-family: monospace;
}