body{
    background: hsla(309, 6%, 41%, 1);

background: linear-gradient(90deg, rgb(172, 172, 172) 0%, rgb(204, 207, 235) 100%);

}

.gradient-text{
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.icon{
    display: flex;
    justify-content: center;
}



.icon-pic{
    display: flex;
    justify-content: center;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

h4{
    color: rgb(105, 105, 105);
    display: flex;
    justify-content: center;
}